//-------------------------------------------
// J-FRAME
// Jacob Michelini 2018
//-------------------------------------------

////////////////////
// VARIABLES
////////////////////
$backcolor: black;
$color1: black;
$color2: #eee;
$color3: white;

$sub-heading: #666;

$body-font: 'Questrial', sans-serif;
$heading-font: 'Merriweather', serif;

//sets all margins around sections and sub-sections
$margins: 4px;
//section bottom margin gap
$section-bottom-margin: $margins;
//Sets the screen size that layout switches to single column for mobile
$single-column-breakpoint: 768px;

////////////////////
// UTILITY SETTINGS
////////////////////

// set to make divs visible during contruction
$div-min-height: 10px;

//makes things red for debugging
.red {
	background-color: red !important;
}

//////////////////////////////////////////////////////////////////////////////////////////
// LAYOUT + TEXT CSS
//////////////////////////////////////////////////////////////////////////////////////////

body {
	background-color: $backcolor;
}

.section {
	background-color: $color1;
	width: 100%;
	min-height: $div-min-height;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: $margins;
}

.sub-section {
	background-color: $color2;
	min-height: $div-min-height;
	flex-basis: 0;
	flex-grow: 1;
	margin-right: $margins / 2;
	margin-left: $margins / 2;
}

.sub-section {

	p {
		margin: 3vw;
		font-family: $body-font;
		font-size: 1.2em;
		line-height: 120%;
	}

	h1, h2 {
		margin: 3vw;
		font-family: $heading-font;
		font-size: 2em;
	}

	h2 {
		font-size: 1.3em;
		color: $sub-heading;
	}

	.section {
		// makes sub-sections inside sub-sections fill 100% of available height (incompatible with multiple nested stacked sections)
		// min-height: 100%;
		border-top: $margins solid $color1;
		margin-bottom: 0px;
	}

	.section:first-of-type {
		border-top: 0px;
	}

	.sub-section {
		margin: 0px;
		margin-left: $margins;
	}

	.sub-section:first-of-type {
		margin-left: 0px;
	}


	//reduce margin between h1 and h2 (-3vw is none)
	h1 + h2 {
		margin-top: -2.8vw;
	}

	// reduce margin between h1 and paragraph (-3vw is none)
	h1 + p {
		margin-top: -2.5vw;
	}

		// reduce margin between h2 and paragraph (-3vw is none)
	h2 + p {
		margin-top: -2.5vw;
	}

}

.x2-width {
	flex-grow: 2;
}

.x3-width {
	flex-grow: 3;
}

.x4-width {
	flex-grow: 4;
}

.x5-width {
	flex-grow: 5;
}

.x6-width {
	flex-grow: 6;
}

////////////////////
// IMAGES
////////////////////

//covering image method with css
.back-image {
	background-image: url(../images/mt.jpg);
	background-size: cover;
	background-position: center;
	min-height: 500px;
}

//covering image method with html
.image {
	object-fit: cover;
	max-width: 100%;
	display: block;
}

//interior image with html
.interior-image {
	max-width: 100%;
	display: block;
}

// removes margins for images inside paragraphs
p {
	
	.interior-image {
		margin: 3vw -3vw 3vw -3vw;
		max-width: calc(100% + 6vw)
	}

}

////////////////////
// BREAKPOINTS FOR MOBILE
////////////////////

@media (max-width: $single-column-breakpoint) { 

	.sub-section {
		flex-basis: auto;
		width: 100%;
		// margin-bottom: $margins;
	}

	// gives a vertical margin between subsections a margin on mobile
	.sub-section + .sub-section {
		margin-top: $margins;
	}

	.sub-section .sub-section {
		margin-left: 0px;
	}

}
